body {
    #background: #0d3625;
}

#videos-list .panel-body{
    padding-left: 0px;

}

.video-image-mask {
    width: 185px;
    height: 100px;
    overflow: hidden;
}

.video-image-mask .video-image {
    width: 105%;
}

.video-title{
    font-weight: bold;
    font-size: 18px;
}

.video-title a{
    color: #444;
}